/* coded by SabWaFei */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles */
:root {
  /* card backgrounds */
  --clr-blue: hsl(246, 80%, 60%);
  --clr-red-work: hsl(15, 100%, 70%);
  --clr-blue-play: hsl(195, 74%, 62%);
  --clr-light-red-study: hsl(348, 100%, 68%);
  --clr-lime-green-exercise: hsl(145, 58%, 55%);
  --clr-violet-social: hsl(264, 64%, 52%);
  --clr-soft-orange-self-care: hsl(43, 84%, 65%);
  /* neutral */
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --cler-pale-blue: hsl(236, 100%, 87%);
  /* typography */
  --ff-rubik: "Rubik", sans-serif;
  --fw-light: 300;
  --fw-medium: 400;
  --fw-heavy: 500;
}
html {
  font-family: var(--ff-rubik);
  color: white;
}
h2 {
  font-weight: var(--fw-light);
}
p {
  font-weight: var(--fw-light);
}
.type {
  font-weight: var(--fw-heavy);
}
.inner {
  background-color: var(--clr-dark-blue);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-very-dark-blue);

  /* desktop */
  /* height: 100vh; */
  /* /desktop */
}
li {
  list-style: none;
}
.outer {
  border-radius: 15px;
}
.inner {
  border-radius: 15px;
  /* desktop */
  /* border-top-right-radius: 15px;
  border-top-left-radius: 15px; */
  /* desktop */
  /* border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; */
}
.icon {
  height: 80px;
  width: 80px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
  font-family: var(--ff-rubik);
  color: white;
  font-weight: var(--fw-heavy);
  opacity: 0.7;
}

/* meatball menu */
.meatball-menu {
  cursor: pointer;
  width: 40px;
  height: 20px;
  transform: rotate(180deg);
}
.meatball-menu span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}
.card {
  margin-top: 1em;
}
/* utility classes */
/* used to overlap */
.outer {
  overflow: hidden;
  background-color: lightseagreen;
}
.inner {
  position: relative;
  padding: 1em;
  margin-top: -30px;
}

/* main styling */
.container {
  width: 90%;
  margin-top: 2em;
  /* width: 75%;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(4, 1fr); */
}

.profile {
  /* desktop */
  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* desktop */
}
.profile-pic {
  height: 75px;
  width: 75px;
  border: solid white 3px;
  border-radius: 35px;
}
.icon {
  position: relative;
  margin-top: -20px;
}
.icon-container {
  margin: 0.2em;
  display: flex;
  justify-content: flex-end;
}

.one-inner {
  border-radius: 15px;
  padding-bottom: 1em;
  background-color: var(--clr-dark-blue);
}
.one-outer {
  border-radius: 15px;
  background-color: var(--clr-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  gap: 1em;
}
.one-outer-right > p {
  opacity: 0.7;
}
.sub-menu {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.two-outer {
  overflow: hidden;
}
.two-inner {
  /* might come back to this for easier solution */
  /* used to overlap */
  position: relative;
  /* used to overlap */
  padding: 1em;
  margin-top: -30px;
}

footer {
  color: white;
  text-align: center;
  font-family: sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
}
